:root{
--brand-theme:#deff12;
--breadcrumb_image:url("../../../image/catalog/other/breadcrumb.png");
--breadcrumb_color:#232323;
--seprator:url("");
--body-color:#232323;
--headernav_bgcolor:#deff12;
--headernav_textcolor:#232323;
--header_bgcolor:#232323;
--header_textcolor:#ffffff;
--header_text_hovercolor:#deff12;
--btn_bgcolor:#deff12;
--btnhover_bgcolor:#ffffff;
--btn_textcolor:#232323;
--btnhover_textcolor:#232323;
--footer_bgimage:url("");
--footer_bgcolor:#141414;
--footer-title-color:#ffffff;
--footer-text-color:#deff12;
--footer-hover-text-color:#ffffff;
--footerafter-bgcolor:#deff12;
--footerafter-text-color:#232323;
}